

body {
    background-color: #fed060;
    min-height: 100vh;
    min-width: 100%;
}


.card-body {
    background-color: #fed060;
    min-height: 88vh;
   padding-top: 500px;
}

.card-header {

    background-color: #fed060;
    padding: 0%;
}

.nav {
    background-color:  #fed060;
}

.userIcon {
    position:absolute;
    width:30px;
    height:30px;
    top:0;
    right:0;
    left: 155vh; 
    margin-top: 2vh;
    
}

.nav-link {
    color: black;
}

.hpLogo img {
    max-width: 20%;
    height:auto;
    position: absolute; 
    margin-top: 20vh;
    margin-left: 65vh;

}

footer {
    background-color:  rgb(86, 202, 86);
    position: fixed;
    bottom: 0;
    width: 100%;

    
}

button {
    background-color: rgb(35, 185, 35);
    border-color: rgb(35, 185, 35);
    margin-top: 70vh;
    margin-left: 75vh;
}

/* Bordered form */

  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: all .2s;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    color: #fff;
    transition: all .2s;
  }
  
.cancelbtn:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
}

  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    /* margin: 24px 0 12px 0; */
    padding-top: 25px;
  }
  
  /* Avatar image */
  img.avatar {
    width: 250px;

  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn {
      width: 100%;
    }
  }