

body {
    background-color: #fed060;
    min-height: 100vh;
    min-width: 100%;
}

.card-body {
    background-color: #ffffff;
    min-height: 50vh;
    margin-top: 100px;
}

.fade-out {
    text-align: center;
animation: fadeOut 6s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.cardOne {
    margin-left:10%; 

}

.cardTwo {
    margin-right:10%;   

}


.btn-secondary {
    padding:2vh;   
}

#burger {
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
    font-size:40px;
    cursor:pointer
}

#nnLogo {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
}

#main-searches {
    margin-top: 100px;
}

.nav-link {
    color: rgb(255, 255, 255);
}

.userIcon {
    position:absolute;
    top:25px;
    right:25px;
}

.userIcon img{
    width: 40px;
    height: auto;
}


.hpLogo {
    width: 80px;
    height: auto;
    padding-left: 1rem;
}

.option-btn {
    cursor: pointer;
}

footer {
    background-color:  rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;  
}

footer p {
    text-align: center;
}

.button {
    margin-top: 70vh;
    margin-left: 75vh;
    color: (86, 202, 86);
}

.btn-add {
    margin-top: -4px;
}

#general-search, #ingredients-search {
    margin: 0 auto;
    display: inline-block;
    width: 30%;

}

.sidenav{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
    transform: translateX(-250px);

}

.favorite {
    cursor: pointer;
}

#myRecipes {
    cursor: pointer;
    color: #fff;
}

#myRecipes:hover {
    color: #fed060;
}

.generalSearch, .ingredientSearch {
    text-align: center;
    
}

.sidenav a:hover {
    color:#fed060;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
}

.sidenav .closebtn:hover {
    text-decoration: none;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.main-result h3{
    font-size: 18px;
}